@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

img{
    cursor: pointer;
}


.wrapper, .wrapper_rules{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper_rules{
    z-index: 2;
    background-color: white;
    position: absolute;
    transition: 1s;
}

.header, .footer{
    height: 10vh;
    width: 100%;
    background-color: rgb(175, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}   

.kebab{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 5px;
    transition: 0.3s;
    display: none;
}

.kebab_main{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box{
    width: 50%;
    text-align: center;
}

#Stan{
    width: 300px;
    text-align: center;
}

.des{
    font-size: 20px;
}

#GrubyFoot{
    display: none;
}

#buy1{
    width: 50px;
    padding: 3px;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#come{
    width: 100px;
    padding: 2px;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

#come:hover{
    box-shadow: 0 0 10px 1px black;
    background-color: black;
    color: white;
}

@media all and (max-width: 375px){
    .des{
        font-size: 15px;
        width: 350px;
        text-align: center;
    }
    #GrubyHead{
        display: none;
    }
    #GrubyFoot{
        display: block;
    }
    #main{
        display: none;
    }
    .buttons{
        display: block;
    }
    .header{
        justify-content: center;
    }
    #boxUp{
        display: none;
    }
    .box{
        width: 100%;
    }
}